app/node_modules
# Keep environment variables out of version control
app/.env
mysql
app/assets
app/database-whatsapp
app/package-lock.json
app/yarn.lock
package-lock.json
redis
data-mongo
app/tokens
app/src/bin/instructions/*
app/src/bin/scheduler/*
app/src/libs/Nodes/Library/teste.js
app/dist 
v2
postgres
app/src/bin/connections.json
app/static/audio/*
app/static/file/*
app/static/image/*
app/static/pdf/*
app/static/video/*
app/src/config/*
app/src/bin/chatbot-queue/*
app/static/documents-contact-account/*
app/static/*
.vscode/extensions.json
app/src/bin/chats-ai/*
.env.pg
.env.mongo
app/src/bin/files-test.json